* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navbar {
    position: relative;
    flex-direction: column;
}

#navbar .logo {
    margin-bottom: 0.75rem;
}

/* Showcase */
#showcase {
    height: 88vh;
    padding: 0;
    background: url('../img/milad-fakurian-U8BZ0cFrm7Q-unsplash.jpg') no-repeat center center/cover;
}

#showcase .showcase-content {
    padding: 0.75rem;
    height: 100%;
    width: 100%;
    color: #F0EDEE;
    /* overlay */
    background: rgba(0, 0, 0, 0.7)
}

#showcase .showcase-img {
    display: none;
}

.showcase-info {
    text-align: center;
}

.showcase-info .btn {
    margin-top: 30px;
    /* background: white; */
    border: none;
    /* color: black; */
}

.showcase-info h1 {
    font-size: 1.75rem;
}

.showcase-info p {
    line-height: 1.5;
    margin-bottom: 1rem;
}



/* About */
#about {
    min-height: 500px;
    height: 600px;
    padding:0.5rem;
}

#about .about-img {
    display: none;
}

#about .about-info {
    height: 90%;
    width: 100%;
    color: black;
    padding: 2rem 2rem;
    
}

#about .about-info .container {
    padding-left: 8px;
    padding-right: 8px;
}

#about h2 {
    font-size: 2.5rem;
    text-align: center;
}

#about p {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    text-align: center;
    overflow: hidden;
}

/* Features */
#features {
    height: 1000px;
    height: 600px;
    padding: 0.5rem;
    overflow-x: hidden;
}


#features .items {
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    position: relative;
    /* overflow-x: hidden; */
}

#features .items .item {
    flex-direction: column;
    height: 500px;
    padding: 2rem;
    max-width: 80%;
    margin-bottom: 2rem;
    transform: translateX(200%);
    line-height: 1.5;
    position: absolute;
    transition: transform 1.9s ease-in-out;
    
}

#features .items .item.active{
    display: block;
    transform: translateX(0);
}

#features .items .slider {
    display: inline-block;
    background: rgba(0, 0, 0,0.2);
    border:none;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 360px;
}

#features .items .slider#slider-left{
    left: 200px;
}

#features .items .slider#slider-right{
    left: 250px;
}


#features .items .item .img,
#features .items .item .content{
    width: 100%;
    
    text-align: center;
}

#features .items .item .img img,
#features .items .item .img svg {
    width: 100px;
    height: 100px;
}



/* Section: Clients */

#clients {
    height: 250px;
    width: 100%;
}


#clients #clients-logo .client {
    padding: 0.5rem;
}

#clients .client:nth-child(4){
    display:none;
}

#clients .client img {
    width: 70px;
    height: 70px;
    padding:0.3rem;
}

/* Contact Us */
#contact {
    height: 500px;
}
#contact #contact-form{
    padding: 2rem;
}

#contact #map {
    display: none;
}

#contact #contact-form .form-group {
    margin: 0.75rem;
}

#contact #contact-form label {
    text-align: left;
    display: block;
}

#contact #contact-form 
input[type=text],
input[type=tel],
input[type=email],
textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    border-radius: 5px;
    border:none;
}